@import url('https://fonts.googleapis.com/css?family=Italianno|Roboto&subset=latin-ext');

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.dashboard-main {
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.dashboard {
	padding: 20px 0;
}

.dashboard>div {
	min-width: 40vw;
}

.wrapper {
	background: rgba(169, 169, 169, 0.4);
	box-shadow: 8px 10px 20px 1px rgba(0, 0, 0, 0.75);
	padding: 20px 40px;
	color: #FFF;
	text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.75);
}
