@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.logo{
  max-height: 80px;
  margin: 20px;
  align-self: center;
}

.sign_up_in {
	background-image: url(../img/bg-blur.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sign_up_in>div {
	min-height: 100vh;
	padding: 60px 0 20px 0;
}

.form_wrapper {
	background: rgba(169, 169, 169, 0.4);
	box-shadow: 8px 10px 20px 1px rgba(0, 0, 0, 0.75);
	padding: 20px 40px;
	color: #FFF;
	display: flex;
	flex-direction: column;
}

.form_wrapper a {
	color: #FFF;
}

.form_wrapper a:hover {
	text-decoration: none;
}

.roraos-form>div {
	display: flex;
	color: #FFF;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid white;
	margin: 10px 0;
}

.roraos-form label {
	margin: 0 10px !important;
}

.roraos-form input {
	background: transparent;
	outline: transparent;
	border: none;
	color: #FFF;
	padding-left: 5px;
	width: 100%;
}

.phone_input>p {
	margin: 0 0 0 13px;
}

.phone_input>input {
	margin: 0;
}

.roraos-form a {
	margin-top: 40px;
	font-size: 0.9rem;
}

.submit_btn {
	display: block;
	background: rgb(3, 169, 245);
	color: white;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	padding: 5px 0;
	transition: 0.5s ease;
	width: 100%;
}

.submit_btn:hover {
	background: rgba(3, 169, 245, 0.8);
}

.fb_login {
	margin: 10px 0;
	background: rgb(53, 152, 241);
	color: white;
	cursor: pointer;
	padding: 5px 0;
}

.roraos_bottom {
	font-size: 0.9rem;
	margin-top: 40px;
}

.message {
	margin-top: 22px;
	margin-bottom: 20px;
}

/* White placeholder text */
::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgba(255, 255, 255, 0.8);
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgba(255, 255, 255, 0.8);
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgba(255, 255, 255, 0.8);
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(255, 255, 255, 0.8);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgba(255, 255, 255, 0.8);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#textPomoc {
	background-color: transparent;
	color: #FFF;
}