@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

html, body {
  margin: 0!important;
  padding: 0!important;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  margin: 0!important;
  padding: 0!important;
}

#myNavbar{
  background: transparent;
}

@media (min-width: 768px){
  #myNavbar {
    background: linear-gradient(to right, transparent , rgba(0, 0, 0, 0.3));
  }
}

#myNavbar.scrolled {
  background: rgb(25, 181, 254);
}

#navbarResponsive > ul {
  background: rgb(25, 181, 254);
}

@media (min-width: 768px){
  #navbarResponsive > ul {
    background: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.3));
  }
}

.row {
  margin: 0!important;
}

.text-white{
  color: #FFF;
}

#home {
  min-height: 100vh;
  background: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

.logo{
  max-height: 80px;
  margin: 20px;
  cursor: pointer;
}

#home > p {
  color: rgb(255,255,255);
  z-index: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5rem;
}

.start {
  min-width: 250px;
  background-color: rgba(25, 181, 254, 0.75);
  border: none;
  color: #FFF!important;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 10px 0;
  margin-top: 30px;
}

.start:hover {
  background-color: rgba(25, 181, 254, 0.5);
  transition: .5s ease;
}

#about {
  padding: 50px;
}

.about_icon{
  padding: 20px;
}

.columns > div {
  padding: 0 10px;
}

@media (min-width: 768px){
.columns > div {
  padding: 0 30px;
}
}

#contact{
  background: rgb(25, 181, 254);
  padding: 50px;
}

#contact > div{
  padding: 20px 0;
}

.map{
  margin-top: 20px;
}

@media (min-width: 768px){
  .map {
      margin-top: 0;
  }
}

#brend{
  max-height: 35px;
  margin: 5px 0;
  padding: 0;
  padding-left: 30px;
}

#projekt{
  background: rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 10px;
}

#projekt img{
  padding: 15px;
  max-width: 100px;
  max-height: 100%;
  transition: transform .3s;
}

#projekt img:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

/* Vizija */
#vizija{
  color: #FFF;
  min-height: 40vh;
  background: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  padding-top: 60px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5rem;
}

#vizija-tekst{
  min-height: 60vh;
}