@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

html, body {
  margin: 0!important;
  padding: 0!important;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
	margin: 0!important;
	padding: 0!important;
}

#myNavbar{
  background: transparent;
}

@media (min-width: 768px){
  #myNavbar {
    background: linear-gradient(to right, transparent , rgba(0, 0, 0, 0.3));
  }
}

#myNavbar.scrolled {
  background: rgba(25, 181, 254, 0.8);
}

#navbarResponsive > ul {
  background: rgba(25, 181, 254, 0.8);
}

@media (min-width: 768px){
  #navbarResponsive > ul {
    background: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.3));
  }
}

.row {
  margin: 0!important;
}

.text-white{
  color: #FFF;
}

#home {
  min-height: 100vh;
  background: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
}

#home > h1 {
  font-size: 3rem;
  color: rgb(255,255,255);
  z-index: 1;
  z-index: 999;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#home > p {
  color: rgb(255,255,255);
  z-index: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5rem;
}

.start {
  min-width: 250px;
  background-color: rgba(25, 181, 254, 0.75);
  border: none;
  color: #FFF!important;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 10px 0;
  margin-top: 30px;
}

.start:hover {
  background-color: rgba(25, 181, 254, 0.5);
  transition: .5s ease;
}

#about {
  padding: 50px;
}

.about_icon{
  padding: 20px;
}

.columns > div {
  padding: 0 10px;
}

@media (min-width: 768px){
.columns > div {
  padding: 0 30px;
}
}

#contact{
  background: rgb(25, 181, 254);
  padding: 50px;
}

#contact > div{
  padding: 20px 0;
}

.map{
  margin-top: 20px;
}

@media (min-width: 768px){
  .map {
      margin-top: 0;
  }
}
