#myNavbar{
  min-height: 60px;
  background: rgb(25, 181, 254);
  padding: 0!important;
  transition: .5s ease;
}

.navbar-toggler{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  outline: none !important;
  border: none !important;
  margin-top: 6px!important;
}

.fa-bars{
  color: #FFF !important;
}

#navbarResponsive > ul {
  min-height: 60px;
}

.nav-link {
  color: #FFF!important;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  padding: 0 15px !important;
}

.nav-item:hover{
  background: rgba(255, 255, 255, 0.4)!important;
}

#copyright{
  text-align: center;
  color: white;
  width: 100%;
  background: #1565C0;
  font-size: 0.8em;
  margin: 0!important;
}

/* White placeholder text */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.8);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.8);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.8);
}