#myprofile{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	padding: 20px;
}
#myprofileblue{
	background-color: rgba(25, 181, 254, 0.8);
	padding: 0;
}
#myprofileblue_top{
	background-color: rgba(0, 0, 0, 0.4);
	width:100%;
	margin: 0;
}
#options{
	width:100%;
}

.nav-tabs .nav-link {
	color:white;
	border:none;
}
.nav-tabs .nav-link:active{
	
	background-color: rgba(25, 181, 254, 0.8);
}
.nav-tabs .nav-link:hover{
	border-color:none;
	background: rgba(255, 255, 255, 0.4)!important;
}