#oglasi{
	width: 100%;
}

.oglas{
	padding: 10px;
}

.oglas p {
	margin: 0;
}

.oglas > div {
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.4);
}
